<h3 id="title">WGSL Playground</h3>
<section class="toolbar-actions">
  <button id="draw-btn" type="button" aria-label="Draw" title="Draw">
    <img src="../../assets/draw.svg"/>
  </button>
  <button id="toggle-aspect-ratio-btn" type="button" aria-label="Keep aspect ratio" title="Keep aspect ratio">
    <img src="../../assets/aspectRatio.svg"/>
  </button>
  <button id="fullscreen-btn" type="button" aria-label="Fullscreen" title="Fullscreen">
    <img src="../../assets/enterFullscreen.svg"/>
  </button>
  <button id="github-btn" type="button" aria-label="Github" title="Github">
    <img src="../../assets/github.svg"/>
  </button>
</section>