:root {
    color-scheme: dark;

    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 32px;
    --theme-detail: #F4F4F4;
    --theme-primary: #E2BFD9;
    --theme-secondary: #C8A1E0;
    --theme-bg: #282C34;
    --theme-bg-darker: #333842;
    --theme-stripes-thickness: 72px;
    --default-editor-width: 700px;
}

html,
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: var(--theme-bg);
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

vertical-slider {
    background-color: var(--theme-bg);
    transition: background-color 0.3s ease;
    cursor: col-resize;
    flex: 10px 0 0;
}

vertical-slider:hover {
    background-color: var(--theme-primary);
}

button {
    border: none;
    background: rgba(0, 0, 0, 0.2);

    aspect-ratio: 1;
    border-radius: var(--spacing-l);

    display: grid;
    place-content: center;

    :hover {
        cursor: pointer;
    }
}

dialog {
    background: var(--theme-bg);
    border: 8px solid black;
    color: white;
    outline: none;
}

/* Components */

code-editor-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--spacing-m);
    padding-inline: var(--spacing-m);

    #title {
        color: var(--theme-detail);
        margin-block: var(--spacing-s);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        text-wrap: nowrap;
    }
}

absolute-interface {
    #exit-fullscreen-btn {
        position: fixed;
        top: 0;
        left: 0;
        margin: var(--spacing-m);
    }
}

.actions {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: var(--spacing-s);
    margin-block: var(--spacing-s);
}

.horizontal-split-container {
    display: flex;
    height: 100vh;
}

.editor-container {
    /* Applies this width if the screen is wider enough */
    width: var(--default-editor-width);

    display: flex;
    flex-direction: column;
}

.editor-wrapper {
    overflow-y: scroll;
}

.canvas-wrapper {
    position: relative;
    flex: auto 1 1;

    display: grid;
    align-items: center;
}

/* SVG */

.icon {
    fill: var(--theme-detail);
    stroke: var(--theme-detail);
}

/* Utility */

.hidden {
    display: none;
}

.keep-aspect-ratio {
    height: auto;
}

/* Patterns */

.diagonal-stripes {
    background-color: var(--theme-bg);
    background: repeating-linear-gradient(-45deg, var(--theme-primary), var(--theme-primary) 20px, var(--theme-secondary) 20px, var(--theme-secondary) 40px);
}

.polka-dots {
    background-color: var(--theme-bg);
    background-image: radial-gradient(var(--theme-bg-darker) 1.5px, var(--theme-bg) 1.5px);
    background-size: 30px 30px;
}

/* Media Queries */

@media (max-width: 1200px) {
    .editor-container {
        width: 50%;
    }
}