:root {
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 32px;
    --theme-detail: #F4F4F4; /* Almost white */
    --theme-primary: #E2BFD9; /* Kind of pink/red */
    --theme-secondary: #C8A1E0; /* Kind of pink/red 2 */
    --theme-bg-lighter: #333840; /* Background for slider or borders */
    --theme-bg: #282C34; /* background */
    --theme-bg-darker: #333842; /* ????? */
    --theme-stripes-thickness: 72px;
    --default-editor-width: 700px;
}

html,
body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background: var(--theme-bg);
    color-scheme: dark;
}

canvas {
    width: 100%;
    height: 100%;
    position: absolute;
}

button {
    /* Buttons are SVGs over transparent containers */
    border: none;
    background: transparent;
    aspect-ratio: 1;
    /* Center the SVG */
    display: grid;
    place-content: center;
    /* Let the user know it's clickable */
    :hover {
        cursor: pointer;
    }
}

dialog {
    background: var(--theme-bg);
    border: 8px solid black;
    color: var(--theme-detail);
    outline: none;
}

vertical-slider {
    background-color: var(--theme-bg-lighter);
    transition: background-color 0.3s ease;
    cursor: col-resize;
    flex: 6px 0 0;
}

vertical-slider:hover {
    background-color: var(--theme-secondary);
}

code-editor-toolbar {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Spacing */
    column-gap: var(--spacing-m);
    padding-inline: var(--spacing-m);
    /* Hues */
    background-color: var(--theme-primary);
    border-bottom: 4px solid var(--theme-bg-lighter);

    #title {
        color: var(--theme-detail);
        margin-block: var(--spacing-s);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        text-wrap: nowrap;
    }
}

#exit-fullscreen-btn {
    /* Button hanging on the top left corner in fullscreen mode */
    position: fixed;
    top: 0;
    left: 0;
    margin: var(--spacing-m);
}

/* Components */

.toolbar-actions {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    gap: var(--spacing-s);
    margin-block: var(--spacing-s);
}

.horizontal-split-container {
    display: flex;
    height: 100vh;
}

.editor-container {
    /* Applies width if the screen is wider enough */
    width: var(--default-editor-width);

    display: flex;
    flex-direction: column;
}

.editor-wrapper {
    flex: 1;
    overflow-y: scroll;
}

.canvas-wrapper {
    position: relative;
    flex: auto 1 1;
    display: grid;
    justify-items: center;
}

/* Utility */

.hidden {
    display: none;
}

/* Patterns */

.polka-dots {
    background-color: var(--theme-bg);
    background-image: radial-gradient(var(--theme-bg-darker) 1.5px, var(--theme-bg) 1.5px);
    background-size: 30px 30px;
}

/* Media Queries */

@media (max-width: 1200px) {
    .editor-container {
        width: 50%;
    }
}
